body {
  padding-left: 10%;
  padding-right: 10%;
}

.PostGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.PostCard {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 25;
  box-shadow: 2px;
}

.title {
  min-height: 50%;
  text-align: left;
  font-size: xx-large;
  font-weight: 500;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}

.content {
  text-align: left;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
